.header {

    .intro {
        margin-top: 2em;

        &__list {

            &--item {
                margin-top: 0.4em;
                font-size: 1.3em;
                color: $dark-text-color;

                @media screen and (max-width: $breakpoint-large) {
                    font-size: 1em;
                }

                &--link {
                    font-weight: bold;
                    color: $text-color;
                }
            }
        }
    }
}